/* Micro Clearfix For modern browsers */
.cf:before, .cf:after { content:"";
display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { *zoom:1; }
#esq, #dir{ border: 1px solid red}
#all{border: 1px solid red}

.topNavBar
{
	height: 15%;
	border: 1px solid red;
}
#timeControls
{
	border: 1px solid orange;
	display: inline;
}
#gameDate
{
	margin:0 0 0 30%;
	border: 1px solid orange;
	display: inline;
}

.desktop
{
	width: 100%;
	height: 70%;
	border: 1px solid blue;
}

.bottomNavBar
{
	height: 15%;
	border: 1px solid green;
}
#startMenuButton
{
	float:left;
	display: inline;
}
#searchBar
{
	float:left;
	display: inline;
}
#windowSwitchButton
{
	float:left;
	display: inline;
}
#openWindowIconArea
{
	float:left;
	display: inline;
}
#systemIconArea
{
	float: right;
	display: inline;
}