/* Micro Clearfix For modern browsers */
.cf:before, .cf:after { content:"";
display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { *zoom:1; }
#esq, #dir{ border: 1px solid red}
#all{border: 1px solid red}

.topNavBar
{
	border: 1px solid red;
	width: 100%;
}
	.timeControls
	{
		background-color: #6897bb;
		border: 1px solid #6897bb;
		display: inline;
	}
	.timeControls:hover
	{
		background-color: #6897dd;
		transition-duration: 0.1s;
		border: 1px solid #6897dd;
		display: inline;
	}
	#gameDate
	{
		margin:0 0 0 30%;
		border: 1px solid orange;
	}

.desktop
{
	border: 1px solid blue;
	position: relative;
}
	#background
	{
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: -1;
	}
		#background img
		{
			height: 100%;
			width: 100%;
		}
	.icons
	{
		width: 44px;
		height: 64px;
		border: 1px solid yellow;
		position: absolute;
		z-index: 2;
		color: white;
		font-size: 12px;
		text-align: center;
	}
		#notepad
		{
			/*Position (1, 1)*/
			position: absolute;
			top: 5%;
			left: 2%;
			z-index: 2;
		}
		#map
		{
			/*Position (2, 1)*/
			position: absolute;
			top: 18%;
			left: 2%;
			z-index: 2;
		}
		#scripts
		{
			/*Position (1, 2)*/
			position: absolute;
			top: 5%;
			left: 8%;
			z-index: 2;
		}
		#help
		{
			/*Position (2, 2)*/
			position: absolute;
			top: 18%;
			left: 8%;
			z-index: 2;
		}
		#cmd
		{
			/*Position (3, 1)*/
			position: absolute;
			top: 31%;
			left: 2%;
			z-index: 2;
		}
		#browser
		{
			/*Position (3, 2)*/
			position: absolute;
			top: 31%;
			left: 8%;
			z-index: 2;
		}
		#trash
		{
			/*Position: Bottom right*/
			position: absolute;
			top: 72%;
			left: 94%;
			z-index: 2;
		}
		#selfDestruct
		{
			/*Position: Bottom right*/
			position: absolute;
			top: 85%;
			left: 94%;
			z-index: 2;
		}

.startMenu
{
	top: 24.8%;
	right: 0.1%;
	width: 35%;
	height: 75%;
	background-color: #808080;
	border: 2px solid black;
	position: relative;
	z-index: 3;
}
.startMenu #profileName
{
	height:30px;
}
.startMenu #profileName b
{
	font-size: 20px;
	color: blue;
	position: relative;
	z-index: 3;
	margin-left: 15px;
}
.startMenu #stats
{
	height: 200px;
}
.startMenu #news
{
	height: 90px;
	width: 300px;
}

.bottomNavBar
{
	border: 1px solid green;
}
	#startMenuButton
	{
		float:left;
		display: inline;
	}
	#searchBar
	{
		float:left;
		display: inline;
	}
	#windowSwitchButton
	{
		float:left;
		display: inline;
	}
	#openWindowIconArea
	{
		float:left;
		display: inline;
	}
	#systemIconArea
	{
		float: right;
		display: inline;
	}